*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.header{
    width: 100%;
    height: 85px;
    background-color: red;
}

.content-group{
    width: 100%;
    display: flex;
}

.content{
    width: 50%;
    height: 200px;
    background-color: royalblue;
    border: 1px solid white;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: orange;
}

/*(DICA)
    Sempre manter as medias querys no final da configuração do css,
para que as configurações acima não sobscreva as configurações das meidas querys
*/
@media screen and (max-width: 560px){
    .content-group{
        flex-direction: column;
    }
    .content{
        width: 100%;
    }
}

/* 
tamanho em ( % ) refere-se ao tamanho do pai

tamanho em ( vw ) refere-se ao tamanho da resolução da tela 
*/
